@model WhereDoYouWantToEat2.ViewModel.RestaurantAdmin
@{
    ViewData["Title"] = "Restaurants";
}

<div class="container">
    <h1 class="display-4">Restaurants</h1>
    <p class="mt-4">
        <a class="btn btn-primary"  asp-area="" asp-controller="Admin" asp-action="AddRestaurant">Add a Restaurant</a>
    </p>

    <partial name="_ErrorMessage" model="@Model.ErrorMessage" />
    <partial name="_WarningMessage" model="@Model.WarningMessage" />

    <table class="table table-striped mt-4">
        <thead>
            <tr>
                <th scope="col" width="50%">Name</th>
                <th scope="col" width="30%">Tags</th>
                <th scope="col" width="10%">&nbsp;</th>
                <th scope="col" width="10%">&nbsp;</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var restaurant in Model.Restaurants)
            {
                <tr>
                    <td>@restaurant.Name</td>
                    <td>@restaurant.TagString</td>
                    <td><a class="btn btn-primary" asp-controller="Admin" asp-action="EditRestaurant" asp-route-id="@restaurant.RestaurantId" role="button">Edit</a></td>
                    <td><a class="btn btn-danger" asp-controller="Admin" asp-action="DeleteRestaurant" asp-route-id="@restaurant.RestaurantId" role="button">Delete</a></td>
                </tr>
            }
        </tbody>
    </table>
</div>